# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# Testing
coverage/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# VS Code
.vscode/

# Node binaries
node-v*/

# Large media files
*.mp4
